.header-typewriter {
  color: white;
  text-transform: capitalize;
  animation: animate 5s linear infinite;
  border-radius: 20px;
  text-shadow: 2px 2px 5px orange;
}

@keyframes animate {
  0% {
    color: white;
    box-shadow: none;
  }
  100% {
    color: antiquewhite;
    box-shadow: 1px 1px 50px 20px rgb(245, 237, 206);
  }
}
.header-image {
  box-shadow: 1px 1px 100px 20px orange;
}
